@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Colors */
  --main-blue: #2B4E75;
  --light-blue: #3C91E1;
  --light-blue-opac: rgba(60, 145, 225, 0.8);
  
  /* general */
  --radius: 4px;
  --dark-opacity: rgba(0, 0, 0, 0.5);
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
}

h2, h3, h4 {
  font-weight: 300;
}

h2 {
  font-size: 32px;
}

p, a, li, span {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  text-decoration: none;
  list-style-type: none;
}

button:hover,
a:hover {
  cursor: pointer;
}

img {
  display: block;
}

.text-light-blue {
  color: var(--light-blue);
}

.text-italic {
  font-style: italic;
  text-decoration: underline;
}

.heading {
  margin-bottom: 32px;
}

.container {
  padding: 6rem 0;
}

.row {
  position: relative;
  width: 100%;
  max-width: 1500px;
  padding: 0 24px;
  margin:  0 auto;
}

.overlay {
  position: absolute;
  inset: 0;
}

.blue-overlay {
  background-color: var(--light-blue-opac);
}

.dark-overlay {
  background-color: var(--dark-opacity);
}

/* Buttons */
.CTA-buttons {
  display: inline-block;
  padding: 12px 24px;
  font-weight: 300;
  transition: background-color 0.3s ease;
  
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.contact-button {
  color: white;
  background-color: var(--light-blue);
  border: 1px solid var(--light-blue);
}

.gallery-button {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}

.button-arrow {
  display: inline-block;
  transform: rotate(45deg);
  transition: transform 0.3s ease;
}

a:hover .button-arrow {
  transform: rotate(90deg) scale(1.05);
}

/* nav */
nav {
  position: fixed;
  top: 48px;
  left: 48px;
  right: 48px;
  z-index: 1000;
  background-color: #fff;
  padding: 8px 24px;
  border-radius: var(--radius);
  box-shadow: 0 20px 50px rgba(60, 145, 225, 0.245);

  display: flex;
  justify-content: space-between;
  align-items: center;

  transition: top 500ms ease;
}

nav.scrolled {
  top: 8px;
}

.company-logo {
  width: 80px;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 32px;
}

.nav-link {
  color: #000;
  transition: color 300ms ease;
}

.nav-link:hover {
  color: var(--light-blue);
}

.service-dropdown-parent {
  position: relative;
}

.service-dropdown-parent::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 20px;
}

.service-dropdown {
  position: absolute;
  top: calc(100% + 20px);
  left: -16px;
  width: 200px;
  padding: 16px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  transform: translateY(-10px);
  gap: 8px;
  opacity: 0;
  visibility: hidden;

  transition: opacity 300ms ease, transform 300ms ease, visibility 300ms ease;
}

.service-link > a {
  color: var(--light-blue);
}

.service-dropdown-parent:hover .parent-link {
  color: var(--light-blue);
}

.service-dropdown-parent:hover .service-dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  color: var(--light-blue);
}

/* hamburger menu */
#hamburger-btn,
#modal-exit {
  border: none;
  background-color: transparent;
}

#hamburger-btn {
  display: none;
}

#modal-exit {
  color: #fff;
  float: right;
}

.modal {
  position: fixed;
  background-color: #3C91E1;
  inset: 0;
  z-index: 1000;
  padding: 24px;
  display: flex;
  flex-direction: column;
  text-align: right;
  align-items: flex-end;
  visibility: hidden;
  opacity: 0;
}

.modal-links {
  margin-top: 48px;
}

.modal-link,
.modal-links li {
  font-size: 24px;
  margin-bottom: 48px;
}

.modal-links,
.modal-links > li > a {
  color: #fff;
}

.modal-service-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}


/* hero */
#hero,
#service-hero {
  width: 100%;
  height: 100dvh;
  padding: 24px;
  overflow: hidden;
}

.hero-video {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  filter: brightness(0.5);
}

.hero-text-container {
  position: absolute;
  top: 50%;
  left: 48px;
  transform: translateY(-50%);
  color: white;
}

.hero-title {
  font-size: 48px;
  margin-bottom: 16px;
  width: 1000px;
}

.hero-subtitle,
.service-hero-subtitle {
  margin-bottom: 24px;
}

.hero-button-container {
  display: inline-flex;
  gap: 24px;
}


/* Credentials */
.credential-container {
  padding-top: 0px;
  padding-bottom: 8rem;
}

.credentials-container,
.testimonials-wrapper,
.credentials-container-services {
  display: grid;
  justify-content: center;
  gap: 24px;
  margin: 0 auto;
}

.credentials-container,
.testimonials-wrapper {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  
}

.credentials-container-services {
  grid-template-columns: repeat(4, 1fr);

}

.credentials-container {
  width: 1000px;
}

.credential-box {
  position: relative;
  background-color: var(--main-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  overflow: hidden;
  gap: 4px;
  padding: 8px;
  text-align: center;
}

.credential-title {
  font-size: 80px;
}

.credential-sub-text {
  color: #fff;
}

.review-box-img {
  background-image: url('assets/bathroom-paint-img.webp');
  background-position: center;
  background-size: cover;
}

.review-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.small-text {
  font-size: 12px;
  color: #cfcfcf;
}

.pca-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

/* services */
.heading-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.services-heading {
  width: 500px;
}

.sub-heading {
  width: 400px;
}

.service-container {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  width: 100%;
}

.service-box {
  position: relative;
}

.service-section-img-res {
  background-image: url('assets/residential-service-img.webp');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 300px;
}

.service-section-img-comm {
  background-image: url('assets/office-img.webp');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 300px;
}

.service-info-container {
  position: absolute;
  top: 24px;
  left: 24px;
  z-index: 2;
  color: #fff;
}

.service-title {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #fff;
}

.service-name {
  font-weight: 400;
  font-size: 24px;
}

.service-icon {
  width: 40px;
}

.service-text {
  width: 440px;
  margin-top: 32px;
}

.service-overlay {
  background-color: var(--dark-opacity);
  opacity: 1;
  transition: opacity 300ms ease, background-color 300ms ease;
}

.service-box:hover .service-overlay {
  background-color: var(--light-blue-opac);
  opacity: 1;
}

.service-btn {
  position: absolute;
  left: 24px;
  bottom: 24px;
  background-color: var(--light-blue);
  transition: background-color 300ms ease;
  color: #fff;
}

.service-box:hover .service-btn {
  background-color: transparent;
}

.specialization {
  margin-top: 32px;
  width: 400px;
  font-size: 14px;
}

/* Owner */
.owner-row {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.owner-img-wrapper {
  width: 600px;
  height: 400px;
  overflow: hidden;
}

.owner-img {
  width: 100%;
  transition: transform 500ms ease;
}

.owner-img-wrapper:hover .owner-img {
  transform: scale(1.05);
}

.owner-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 45%;
}

.sub-heading-gallery {
  margin-top: 8px;
  width: 500px;
  color: #5a5a5a;
}

.gallery-text {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  width: 100%;
}

.gallery-container {
  margin-top: 80px;
  width: 100%;
  height: 500px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 8px;
}

.gallery-wrapper {
  background-position: center;
  background-size: cover;
  width: 100%;
  overflow: hidden;
}

.gallery-wrapper:hover .gallery-img {
  transform: scale(1.05);
}

.gallery-img-wrapper-1 {
  width: 100%;
  grid-column: span 2 / span 2;
}

.gallery-img-wrapper-2 {
  grid-column-start: 3;
}

.gallery-img-wrapper-3 {
  grid-column-start: 1;
  grid-row-start: 2;
}

.gallery-img-wrapper-4 {
  grid-column-start: 2;
  grid-row-start: 2;
}

.gallery-img-wrapper-5 {
  grid-column-start: 3;
  grid-row-start: 2;
}

.gallery-img-wrapper-6 {
  grid-row: span 2 / span 2;
  grid-column-start: 4;
  grid-row-start: 1;
}

.gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 300ms ease;
}


/* testimonials */
.testimonials-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonials-wrapper {
  margin-top: 80px;
  width: 100%;
  gap: 8px;
}

.review-box {
  position: relative;
  background-color: var(--light-blue);
  color: #fff;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
  gap: 80px;
}

.review-link-box {
  padding: 0;
}

/* footer */
footer {
  width: 100%;
  padding: 24px;
}

.footer-container {
  background: linear-gradient(
  -45deg,
  #2B4E75 0%,
  #3C91E1 100%
  );
  color: #fff;
  padding: 24px;
}

.footer-heading {
  font-size: 48px;
}

.footer-sub-text {
  width: 600px;
  margin-bottom: 48px;
}

.contact-links {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contact-link a {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  color: #fff;
  font-size: 14px;
}

.contact-directory {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-links {
  display: flex;
  align-items: flex-start;
  margin-bottom: 48px;
  justify-content: space-between;
}

.social-media-text {
  width: 380px;
  margin-bottom: 24px;
}

.social-link {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #fff;
}

.social-links {
  display: flex;
  gap: 16px;
  justify-content: space-between;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #fff;
  margin: 16px 0;
}

.terms-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  font-size: 12px;
}

.terms-container a {
  color: #fff;
}

.back-to-top {
  width: 30px;
  height: 30px;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  animation: bounce 3s ease-in-out infinite;
  transition: background-color 300ms ease;
}

.back-to-top:hover {
  background-color: var(--light-blue);
  border: none;
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  
  50% {
    transform: translateY(-8px);
  }

  100% {
    transform: translateY(0px);
  }
}




/* Service page */
.service-hero-img-wrapper {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 600px;
  overflow: hidden;
  margin-bottom: 32px;
}

.residential-hero-img {
  background-image: url('assets/residential-service-img.webp');
}

.commercial-hero-img {
  background-image: url('assets/office-img.webp');
}

.service-credential-container {
  margin-top: 80px;
}

.service-hero-title {
  font-weight: 300;
}

.service-heading {
  margin: 16px 0;
}

.interior-paint-img,
.exterior-paint-img {
  width: 100%;
  height: 600px;
  background-position: center;
  background-size: cover;
}

.interior-paint-img {
  background-image: url('assets/residential-img.webp');
}

.exterior-paint-img {
  background-image: url('assets/exterior-residential-img.webp');
}

.commercial-interior-img {
  background-image: url('assets/commercial-interior-img.webp');
}

.commercial-exterior-img {
  background-image: url('assets/commercial-exterior-img.webp');
}

.service-page-container {
  margin-top: 8px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.service-info {
  width: 450px;
  margin: 16px 0 32px 0;
}

.special-service-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
  width: 600px;
}

.special-text {
  margin-top: 8px;
  color: #555555;
}


/* drywall prep */
.drywall-row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}

.drywall-sub-heading {
  margin: 8px 0 24px 0;
}

.drywall-prep-wrapper {
  width: 80%;
}

.drywall-img {
  background-image: url('assets/drywall-repair-img.webp');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 650px;
}

.comparison-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}

/* color consulting */

.color-img {
  position: relative;
  background-image: url('assets/color-consulting-img.webp');
  background-position: center;
  background-size: cover;

  height: 500px;
  padding: 24px;
  color: #fff;
}

.color-consulting-wrapper {
  position: absolute;
  left: 32px;
  top: 40px;
}

.color-text {
  width: 500px;
  margin-top: 16px;
}


/* process */
.process-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}

.process-diagram {
  position: relative;
  /* border: 1px solid red; */
  width: 800px;
  height: 400px;
}

.process-line {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 400px;
  background-color: var(--light-blue);
}

.circle1,
.circle2,
.circle3,
.circle4 {
  width: 24px;
  height: 24px;
  border-radius: 100px;
  background-color: var(--light-blue);
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle2 {
  top: calc(400px / 3);
}

.circle3 {
  top: calc(400px / 1.5);
}

.circle4 {
  top: 400px;
}

.process-1,
.process-2, 
.process-3,
.process-4 {
  position: absolute;
  width: 350px;
}

.process-info {
  margin-top: 8px;
  font-size: 12px;
}

.process-1 {
  top: -10px;
  left: 0;
}

.process-2 {
  top: 120px;
  right: 0;
}

.process-3 {
  left: 0;
  bottom: 80px;
}

.process-4 {
  right: 0;
  bottom: -70px;
}

.process-container {
  padding-bottom: 12rem;
}

.careers-text {
  width: 300px;
}

.careers-btn {
  margin-top: 8px;
}

.socials {
  display: flex;
  gap: 16px;
}


@media (max-width: 1200px) {
  .row {
    padding: 0 16px;
  }

  footer {
    padding: 16px;
  }

  .hero-title {
    font-size: 32px;
    width: 700px;
  }

  p, a , li {
    font-size: 14px;
  }

  .credentials-container {
    width: 100%;
    max-width: 600px;
    grid-template-columns: repeat(2, 1fr);
  }

   .credential-icon {
    width: 80px;
  }

  #hamburger-btn {
    display: block;
  }

  .nav-list {
    display: none;
  }

  .owner-row {
    flex-direction: column-reverse;
    justify-content: center;
  }

  .owner-img-wrapper {
    width: 100%;
    height: 500px;
  }

  .owner-info-container {
    width: 80%;
    gap: 8px;
  }

  #hero,
  #service-hero {
    padding: 16px;
  }

  nav {
    top: 24px;
    left: 24px;
    right: 24px;
  }

  .special-service-container {
    grid-template-columns: repeat(1, 1fr);
    width: 400px;
  }
}

@media (max-width: 1000px) {
  .service-container {
    flex-direction: column;
  }

  .testimonials-wrapper,
  .credentials-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-links {
    flex-direction: column;
    gap: 32px;
  }

  .gallery-text {
    flex-direction: column;
  }

  .gallery-container {
    grid-template-columns: repeat(2, 1fr);
    height: auto;

  }

  .gallery-img-wrapper-1 {
  width: 100%;
  grid-column: auto;
  }

  .gallery-img-wrapper-2 {
  grid-column-start:auto;
  }

  .gallery-img-wrapper-3 {
  grid-column-start: auto;
  grid-row-start: auto;
  }

  .gallery-img-wrapper-4 {
  grid-column-start: auto;
  grid-row-start: auto;
  }

  .gallery-img-wrapper-5 {
  grid-column-start: auto;
  grid-row-start: auto;
  }

  .gallery-img-wrapper-6 {
  grid-row: auto;
  grid-column-start: auto;
  grid-row-start: auto;
  }

  .testimonial-sub-text {
    text-align: center;
  }

  .service-info {
    width: 320px;
  }

  .drywall-img {
    height: 420px;
  }
}

@media (max-width: 820px) {
  .process-row {
  padding: 16px 16px 8rem 16px;
}

  .gallery-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .hero-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 20px;
    right: 20px;
  }
  
  .hero-title,
  .hero-subtitle {
    text-align: center;
  }

  .company-logo {
    width: 60px;
  }

  .hero-title {
    font-size: 24px;
    width: 100%;
  }

  .credentials-container {
    max-width: 100%;
    gap: 8px;
  }

  .container {
    padding: 4rem 0;
  }

  .owner-img {
    scale: 1.5;
    padding-top: 60px;
  }

  .footer-sub-text {
    width: 300px;
  }

  .social-media-text {
    width: 300px;
  }

  .sub-heading-gallery {
    width: 300px;
  }

  .heading-container {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 48px;
  }

  .services-heading {
    margin-bottom: 8px;
  }

  .review-box {
    height: 350px;
    justify-content: space-evenly;
  }

  .testimonials-wrapper {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 40px;
  }

  h2 {
    font-size: 24px;
  }

  .services-heading {
    width: 300px;
  }

  .copyright {
    width: 150px;
  }

  .service-page-container {
    flex-direction: column-reverse;
  }

  .special-service-container {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }

  .service-info {
    width: 100%;
    margin: 32px 0;
  }

  .process-line {
    left: 4px;
  }

  .circle1,
  .circle2,
  .circle3,
  .circle4 {
    left: 4px;
  }

  .process-1,
  .process-2,
  .process-3,
  .process-4 {
    left: 32px;
  }

  .process-diagram {
    width: 100%;
  }

  .service-hero-subtitle {
    width: 300px;
  }

  .service-hero-title {
    font-size: 24px;
  }

  .service-hero-img-wrapper {
    height: 550px;
  }

  .credentials-container-services {
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }
}

@media (max-width: 600px) {
  .hero-button-container {
    flex-direction: column;
  }

  .credential-box {
    height: auto;
    padding: 16px;
  }

  .credential-title {
    font-size: 40px;
  }

  .credential-sub-text {
    text-align: center;
  }

  .PCA-icon {
    width: 120px;
  }

  .review-text {
    left: 2px;
    right: 2px;
    transform: translateY(-50%);
  }

  .owner-img {
    scale: 2.8;
    padding-right: 32px;
    padding-top: 80px;
  }

  .owner-info-container {
    width: 100%;
  }

  .sub-heading {
    width: 350px;
  }

  .specialization {
    width: 100%;
  }

  .footer-heading {
    font-size: 24px;
    margin-bottom: 16px;
  }

  .service-text {
    width: 300px;
    margin-top: 16px;
  }

  .copyright,
  .terms,
  .privacy {
    font-size: 10px;
    width: 100%;
  }

  .terms-container {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .service-info-container,
  .service-btn {
    left: 12px;
  }

  .service-icon {
    width: 32px;
  }

  .interior-paint-img,
  .exterior-paint-img {
    height: 400px;
  }

  .drywall-img {
    height: 250px;
  }

  .color-text {
    width: 80%;
  }

  .color-consulting-wrapper {
    left: 16px;
  }

  .process-1,
  .process-2,
  .process-3,
  .process-4 {
    width: 300px;
  }

  footer {
    padding: 8px;
  }

  #service-hero {
    height: 100%;
  }

  .credentials-container-services {
    grid-template-columns: repeat(1, 1fr);
  }
}

#nav_modal {
	position: fixed;
	inset: 0;
	background-color: var(--light-blue);
	z-index: 1001;
	visibility: hidden;
	opacity: 0;
	transition: visibility 300ms ease-in-out, opacity 300ms ease;
}

#nav_modal.show_modal {
	visibility: visible;
	opacity: 1;
}

.nav_modal--container {
	position: relative;
}

.nav_modal--container {
	width: 100%;
	height: 100%;
	padding: 16px;

	display: flex;
	align-items: center;
	justify-content: flex-start;
}

#exit-btn {
	background-color: transparent;
	border: none;
	position: absolute;
	top: 34px;
	right: 26px;
}

.nav_modal--list {
	color: #fff;
	font-size: 14px;
	text-align: start;
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.modal-line {
  width: 100%;
  height: 1px;
  background-color: #fff;
}

.special-links {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal-contact {
  position: absolute;
  bottom: 8px;
  left: 8px;
}